@charset "UTF-8";
@font-face {
    font-family: 'ro-r';
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'quick-r';
    src: url("../fonts/Quicksand-Regular.ttf");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'hlt-boule';
    src: url("../fonts/HLT Boulevai.ttf");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'utm-busta';
    src: url("../fonts/UTM Bustamalaka.ttf");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'iciel-pac';
    src: url("../fonts/iCielBCPacifico-normal.ttf");
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'iciel-ruko';
    src: url("../fonts/iCielBambola.ttf");
    font-style: normal;
    font-display: block;
}
body{font-size:14px;top: 0 !important;font-family: 'ro-r';}
.wap_main{width: 100%;min-width: 320px;max-width: 1920px;margin: auto;background: url(../images/bg.png);}
.wap_1200{max-width: 1200px;margin: auto;position: relative;}
.d-flex{display: flex;align-items: center;}
.justify-content-center{justify-content: center;}
.w-clear:after{display:block;content:"";clear:both;}
.hidden{display:none;}
.clear{clear:both;}
.none{display:none !important;}
.text-decoration-none {
    text-decoration: none !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a, input, textarea {
    outline: none;
    padding: 0px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
/* Header */
.header{
    /* background: url(../images/pexels-pok-rie-5696907.jpg)no-repeat; */
    background-size: cover;
    padding: 20px 10px;
}
.header-top{
}
.name-shool{
    font-family: 'iciel-pac';
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    color: #009900;
}
.diachi-shool{
    color: #fff;
    text-align: center;
    font-family: 'ro-r';
    font-size: 17px;
    background-image: linear-gradient(to right, #1015bb, #13c939, #e99a1e, #12db30, #1044a3);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
/* Header */
/* Menu */
.menu_mobi, .menu_mobi_add, .menu-res{display:none;}
.menu{background-color: #009900;}
.menu .flex-menu{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}
.menu ul{width: 80%;padding:0px;margin:auto;list-style:none;}
.menu ul li{position:relative;z-index:99;}
.menu ul li.line{width:1px;height:15px;background-color:rgba(255,255,255,0.5);}
.menu ul li a{display:block;position:relative;z-index:1;text-align:center;text-decoration:none!important;cursor: pointer;}
.menu ul li a h2{font-size: 25px;color:#fff;margin:0px;padding:16px 20px;text-transform: capitalize;font-family: 'iciel-ruko';}
.menu ul li a.active,.menu ul li:hover > a{}
.menu ul li a.active h2,.menu ul li:hover > a h2{color: #ff0;}
.menu ul li ul{position:absolute;min-width:200px;background:#125afc;box-shadow:0 3px 11px 0 rgba(0,0,0,0.1);-webkit-transform:perspective(600px) rotateX(-90deg);transform:perspective(600px) rotateX(-90deg);-webkit-transform-origin:0 0 0;transform-origin:0 0 0;opacity:0;visibility:hidden;transition:all .5s;}
.menu ul li:hover > ul{-webkit-transform:perspective(600px) rotateX(0);transform:perspective(600px) rotateX(0);-webkit-transform-origin:0 0 0;opacity:1;visibility:visible;transition:all .7s;}
.menu ul li ul li a{text-align:left;border-bottom:1px solid rgba(255,255,255,0.2);}
.menu ul li ul li:last-child > a{border-bottom:0px;}
.menu ul li ul li a h2{font-size:14px;padding:12px 15px;}
.menu ul li ul li a h2:hover{}
.menu ul li ul li ul{top:0px;left:100%;}
.menu-fix{position: fixed; left: 0px; right: 0px; top: 0px; z-index: 999;}
/* Menu */
/* Slider slideshow */
.theme-default .nivoSlider img{width: 100%;height: 500px !important;object-fit: cover;}
/* Slider slideshow */

/* Gioi thieu */
.box_about{
    padding: 40px 0;
}
.left_about{
    width: 45%;
}
.left_about a img{display: block;width: 100%;object-fit: cover;height: 100%;border-radius: 20px;}
.left_about{
    float: right;
    width: 43%;
    height: 450px;
    top: 0;
    z-index: 0;
    position: relative;
}
.left_about a:first-child {
    width: 292px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    border: 5px solid #fff;
    -webkit-animation: runnow 10s infinite;
    -moz-animation: runnow 10s infinite;
    -ms-animation: runnow 10s infinite;
    -o-animation: runnow 10s infinite;
    animation: runnow 10s infinite;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    box-shadow: 0px 0px 5px #e9dada;
}
.left_about a:nth-child(2) {
    width: 380px;
    height: 315px;
    background: #000;
    z-index: 2;
    border: 5px solid #fff;
    -webkit-animation: run 10s infinite;
    -moz-animation: run 10s infinite;
    -ms-animation: run 10s infinite;
    -o-animation: run 10s infinite;
    animation: run 10s infinite;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    position: absolute;
    left: calc(100% - 320px);
    top: calc(100% - 210px);
    box-shadow: 0px 0px 5px #e9dada;
}
.left_about a img{width: 100%;display: block;height: 100%;object-fit: cover;}
.left_about a:hover img{transition: 0.8s;opacity: 0.5;}
@keyframes runnow {
    0% {
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    25% {
        top: calc(100% - 360px);
        left: 0;
        z-index: 1;
    }
    50% {
        top: calc(100% - 360px);
        left: calc(100% - 300px);
        z-index: 1;
    }
    75% {
        top: 0px;
        left: calc(100% - 300px);
        z-index: 1;
    }
    100% {
        top: 0px;
        left: 0;
        z-index: 1;
    }
}
@keyframes run {
    0% {
        top: calc(100% - 320px);
        ;
        left: calc(100% - 390px);
        z-index: 3;
    }
    25% {
        top: 0px;
        left: calc(100% - 390px);
        z-index: 3;
    }
    50% {
        top: 0px;
        left: 0px;
        z-index: 3;
    }
    75% {
        top: calc(100% - 320px);
        ;
        left: 0px;
        z-index: 3;
    }
    100% {
        top: calc(100% - 320px);
        ;
        left: calc(100% - 390px);
        z-index: 3;
    }
}

.right_about{
    background: url(../images/bg2.png) no-repeat;
    background-size: 100% 100%;
    padding: 20px 40px;
    width: 50%;
}
.gt{
    font-size: 30px;
    font-family: 'hlt-boule';
    margin-bottom: -18px;
}
.name-about{
    font-family: 'iciel-ruko';
    font-size: 51px;
    color: #006600;
    text-align: center;
    text-transform: capitalize;
    background: url(../images/td.png)center bottom no-repeat;
    padding-bottom: 16px;
    margin-bottom: 22px;
}
.desc-about{
    font-size: 15px;
    font-family: 'quick-r';
    text-align: center;
    line-height: 1.8;
}
/* Gioi thieu */
/* ALBUM HOAT DONG */
.box_hoatdong{
    padding: 30px 0;
}
.tdtc{
    text-transform: capitalize;
    text-align: center;
    font-family: 'iciel-ruko';
    font-size: 45px;
    margin-bottom: 20px;
    color: #006600;
    background: url(../images/td.png)center bottom no-repeat;
    padding-bottom: 23px;
}
.box_albumhd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.album{
    position: relative;
    display: block;
    height: 300px;
    transition: 0.5s;
}
.album:nth-child(2), .album:nth-child(7){
    grid-column: span 2;
}
.album:nth-child(4), .album:nth-child(5){
    grid-column: span 2;
}
.pic-album{position: relative;height: 100%;}
.pic-album img{width: 100%;height: 100%;object-fit: cover;}
.info-album{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}
.album:hover .info-album{opacity: 1;transition: 0.5s;}
.info-album i{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}
/* ALBUM HOAT DONG */
/* VIDEO */
.box_video{
    padding: 30px 0;
    position: relative;
}
.box_video:after{
    content: url(../images/g3.png);
    position: absolute;
    top: -40px;
    right: 0;
}
.video{
    position: relative;
    display: block;
    margin: 0 10px;
}
.pic-video{
    position: relative;
    width: 97%;
}
.pic-video img{width: 100%;display: block;}
/* VIDEO */
/* Blink */
.blink{-webkit-animation-name:blink;-webkit-animation-duration:1s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:infinite;-moz-animation-name:blink;-moz-animation-duration:1s;-moz-animation-timing-function:linear;-moz-animation-iteration-count:infinite;animation-name:blink;animation-duration:1s;animation-timing-function:linear;animation-iteration-count:infinite;}
@-moz-keyframes blink{
    0%{opacity:1.0;}
    50%{opacity:0.0;}
    100%{opacity:1.0;}
}
@-webkit-keyframes blink{
    0%{opacity:1.0;}
    50%{opacity:0.0;}
    100%{opacity:1.0;}
}
@keyframes blink{
    0%{opacity:1.0;}
    50%{opacity:0.0;}
    100%{opacity:1.0;}
}
/* Button Frame */
.btn-frame{display:block;width:50px;height:50px;position:fixed;right:20px;z-index:10;cursor:pointer;}
.btn-frame i{display:flex;display:-ms-flex;justify-content:center;align-items:center;-ms-flex-align:center;width:50px;height:50px;border-radius:50%;background:#1182FC;position:relative;z-index:1;}
.btn-frame i img{vertical-align:middle;width:70%;}
.btn-frame .animated.infinite{animation-iteration-count:infinite;}
.btn-frame .kenit-alo-circle{width:60px;height:60px;top:-5px;right:-5px;position:absolute;background-color:transparent;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid rgba(7,41,103,0.8);opacity:.1;border-color:#1182FC;opacity:.5;}
.btn-frame .zoomIn{animation-name:zoomIn;}
.btn-frame .animated{animation-duration:1s;animation-fill-mode:both;}
.btn-frame .kenit-alo-circle-fill{width:70px;height:70px;top:-10px;right:-10px;position:absolute;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;background-color:rgba(7,41,103,0.35);opacity:.4;}
.btn-frame .pulse{animation-name:pulse;}

/* Zalo */
.btn-zalo{bottom:315px;}
.btn-map{bottom:400px;}

/* Phone */
.btn-phone{bottom:230px;}
.btn-phone span{transition: 0.3s;position: absolute;right: 54px;background: #2b5b2d;color: #fff;padding: 6px 12px;top: 6px;font-size: 20px;border-radius: 30px;opacity: 0;width: 0;height: 40px;overflow: hidden;}
.btn-phone:hover span{
    width: 140px;
    opacity: 1;
}

/* COPYRIGHT */
.box_map{}
.box_map iframe{width: 100%;height: 400px;display: block;}
.footer-powered{
    background: #097709;
}
.copyright{
    padding: 12px 10px;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    font-family: 'quick-r';
    font-size: 15px;
}
/* COPYRIGHT */
/* HOP THU */
.box_hopthu{
    padding: 30px 0;
    position: relative;
    padding-bottom: 200px;
    max-width: 1366px;
    overflow: hidden;
    background: url(../images/bg3.jpg) no-repeat;
    background-size: cover;
    margin: auto;
}
.enter_key{
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 99;
  }
  /* Xe chay  */
  div.box_car{
  position: absolute;
  bottom: 10px;
  width: 100%;
  animation: carmove 10s  linear infinite;
  -moz-animation: carmove 10s  linear infinite;
  -webkit-animation: carmove 10s  linear infinite;
  -o-animation: carmove 10s  linear infinite;
  z-index: 99;
  }
  @keyframes carmove {
  from {left: -400px;}
  to {left: 1366px;}
  }
  @-moz-keyframes carmove {
  from {left: -400px;}
  to {left: 1366px;}
  }
  @-webkit-keyframes carmove {
  from {left: -400px;}
  to {left: 1366px;}
  }
  @-o-keyframes carmove {
  from {left: -400px;}
  to {left: 1366px;}
  }
.tdht{
      text-align: center;
      color: #fff;
      font-size: 28px;
      text-transform: capitalize;
      font-family: 'hlt-boule';
  }
.ff-form{}
.ff-form .ff-title{color: #ff0;font-family: 'iciel-ruko';text-transform: capitalize;font-size: 60px;text-align: center;margin-bottom: -16px !important;position: relative;}
.ff-form .ff-description{
    color: #fff;
    text-align: center;
    font-family: 'hlt-boule';
    font-size: 28px;
}
.ff-form .ff-item label{color: #fff;}
.ff-form button{
    background: #f00;
    border-color: #f00;
}
.box_hthu iframe{width: 100% !important;}
/* HOP THU */
#pre-loader{background:#fff;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999999;display:flex;align-items:center;text-align:center;}
.hrlogo img.star{z-index:999999;position:absolute;animation:star linear 1.75s infinite;-moz-animation:star linear 1.75s infinite;-webkit-animation:star linear 1.75s infinite;-o-animation:star linear 1.75s infinite;top: -18%;left: calc(50% - 101px);transform:translate(-0%,-25%);}
.hrlogo img.star2{z-index:999999;position:absolute;animation:star linear 1.75s infinite;-moz-animation:star linear 1.75s infinite;-webkit-animation:star linear 1.75s infinite;-o-animation:star linear 1.75s infinite;top: 16%;right: calc(50% - 106px);transform:translate(-0%,-25%);}
.logoloader{width:100%;}
.hrlogo{display:inline-block;position:relative;}
@keyframes star{
    0%{transform:rotate(0) scale(0);}
    50%{transform:rotate(180deg) scale(1.5);}
    100%{transform:rotate(360deg) scale(0);}
}
/* Scroll Top */
#toptop {width: 45px;height: 45px;line-height: 45px;text-align: center;position: fixed;bottom: 20px;right: 10px;cursor: pointer;background: white;transition:0.5s;z-index:200;border-radius: 50%;color: #fff;transform: rotate(-90deg);font-size: 47px;color: #df001f;}
#toptop i{margin-left:-1px; margin-top:-1px;}

/* Responsive */
@media(max-width:1001px){
	.menu{display:none;}
	.menu-res{display:block;}

/*  -- menu mobile ---*/
@-webkit-keyframes my {  0% {opacity:1}  50% {opacity:0  }  100% {opacity:1  }  }
@-moz-keyframes my {   0% {opacity:1}  50% {opacity:0  }   100% {opacity:1  }   }
@-o-keyframes my {   0% {opacity:1}   50% {opacity:0  }   100% {opacity:1  }   }
@keyframes my {  0% {opacity:1}   50% {opacity:0  }   100% {opacity:1  }  }	
.hidden_mobi{display: none;}
.hidden_destop{display: block;}
.menu_baophu { background: #000; opacity: 0.8;
    z-index: 998; left: 0px; top: 0px;
    position: fixed; width: 100%; height: 100%; display: none; }
.icon_menu_mobi{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    display: block;
    width: 50px;
    cursor: pointer;
    display: block;
    cursor:pointer;
    float: left;
    margin: 0;
}
.icon_menu_mobi i {float: left;margin-top: 8px;}
a.home_mobi {color: #fff;text-decoration:none;float:right;font-size: 20px;margin-top: 4px;}
.logo-mobi{width:calc(100% - 100px);float:left;display: none;text-align:center;}
.logo-mobi img{max-width:150px;}
a.phone_mobi {color:#fff;text-decoration:none;float:left;font-size: 18px;}
a.phone_mobi i{ margin-right: 12px; -webkit-animation: my 700ms infinite;
     -moz-animation: my 700ms infinite;  -o-animation: my 700ms infinite; 
     animation: my 700ms infinite; }
 /* Search RP */
.search-res{position:relative;float: right;width: 40px;}
.search-res .icon-search{width: 40px;height:40px;cursor:pointer;text-align: center;line-height:42px;color: #000;font-size:17px;margin:0px;}
.search-res .icon-search.active{color:var(--color-red);background:#fff;border-radius:100%;}
.search-res .search-grid{position:absolute;top:50px;right:0px;width:0px;height:40px;overflow:hidden;background:#fff;border:1px solid var(--color-red);z-index:2;opacity:0;border-radius:25px;line-height:normal;}
.search-res .search-grid p{float:left;width:35px;height:38px;cursor:pointer;outline:none;border:none;margin:0px;font-size:17px;display:block;color:var(--color-red);line-height:40px;text-align:center;}
.search-res .search-grid input{width:calc(100% - 35px);float:right;line-height:38px;outline:none;border:none;color:var(--color-red);font-size: 15px;}
.search-res .search-grid input::-webkit-input-placeholder{color:#ccc;}
.search-res .search-grid input:-moz-placeholder{color:#ccc;}
.search-res .search-grid input::-moz-placeholder{color:#ccc;}
.search-res .search-grid input:-ms-input-placeholder{color:#ccc;}
.mm-panel{}
.mm-navbar_sticky{}
.menu_mobi {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 0px 10px;
    width: 100%;
    cursor: pointer;
    display: block;
    height: 40px;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:999;
    background: #009900;
    box-shadow: 0px 2px 5px #969494;
    }
.menu_mobi_add {
    display:block;
    position: fixed;
    left: -100%;
    top: 0;
    background: #009900;
    z-index: 99999;
    color: #fff;
    height: 100vh;
    overflow: auto;
    line-height: 1.5;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 85%;
    min-width: 140px;
    max-width: 440px;
    box-shadow: inset -4px 0px 8px rgba(0,0,0,0.3);
    transition: 0.5s;
    }
.menu_mobi_active { left: 0; transition: 0.5s; }
.menu_mobi_add ul {list-style: none;padding: 0;}
.menu_mobi_add ul li{}
.menu_mobi_add ul li.li-tim{display:none}
.menu_mobi_add ul li h2{font-size: 15px;}
.menu_mobi_add ul li b{display:inline-block;vertical-align: top;margin-right: 8px;}
.menu_mobi_add ul li b img{ display: inline-block; vertical-align: top; }
.menu_mobi_add ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    padding: 10px 40px 10px 0;
    margin-left: 20px;
    font-size: 13px;
    position: relative;
    text-transform: uppercase;
    }
.menu_mobi_add ul li a.active2 {color: #ec2d3f;}
.menu_mobi_add ul li a i{
    position:absolute; height:100%; right:0;
    top:0; border-bottom: 1px solid rgba(255,255,255,0.1);
    width:40px; text-align:center; padding-top:13px;
    transform:rotate(90deg); border-bottom: 1px solid rgba(255,255,255,0.1); }
.menu_mobi_add ul li a.active2 i{ transform:rotate(0deg); border-left: 1px solid rgba(255,255,255,0.2); }
.menu_mobi_add ul ul {display:none;padding-left: 0;}
.menu_mobi_add ul li ul li a {padding-left: 20px;color: #6f6f6f;}
.menu_mobi_add ul li ul li ul li a { padding-left: 40px; }
.close_menu {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 15px;
    background: rgb(169 16 16 / 88%);
    width: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.name-shool{font-size: 30px;}
.box_about{padding: 20px 10px;}
.box_ab{flex-wrap: wrap;}
.left_about{width: 100%;display: none;}
.right_about{width: 100%;}
.gt{
    font-size: 24px;
    margin-bottom: -6px;
}
.name-about{font-size: 30px;}
.box_hoatdong{
    padding: 20px 10px;
}
.tdtc{
    font-size: 28px;
}
.box_video{padding: 20px 5px;}
.video{margin: 0 5px;}
.chay-vd{margin: 0;overflow: hidden;}

}